/*===== GENERAL =====*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;

}

header {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logo-cuidatge,
.logo-CRAI {
    height: 140px;
    border: 4px solid darkslategray;
    background: skyblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*===== INDEX =====*/

.presentacio {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
}

.carrusel,
.descripcio {
  background: peachpuff;
  border: 4px solid brown;
  height: auto;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrusel {
    flex-shrink: 0;
}

.descripcio {
    flex: 1 1 auto;
}

.cerca {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
}

.cerca-simple,
.cerca-avançada,
.thesaurus {
    width: 600px;
    background: peachpuff;
    border: 4px solid brown;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cercador {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu-secundari {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
}

.ajuda,
.revistes-indexades,
.servei-tecnic {
    width: 600px;
    background: peachpuff;
    border: 4px solid brown;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruccions-cerca {
    height: 500px;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    justify-content: center;
}

footer {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logo-URV,
.informacio {
    height: 140px;
    border: 4px solid darkslategray;
    background: skyblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}