/*===== GENERAL =====*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Optima, sans-serif;
    color: #231F20;
}

header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.logo-cuidatge {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    margin-left: 4%;
}

.logo-CRAI {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2%;
    margin-right: 4%;
}


.logo-cuidatge a {
    color: #90292A;
    text-decoration: none;
    font-size: 52px;
    font-weight: bold;
}

.logo-CRAI img{
    width: 75%;
}

/*===== INDEX =====*/

main {
    margin: 16px 24px;
    padding: 16px;
}

.presentacio {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
}


.carrusel {
    width: 400px;
    display: flex;
    justify-content: center;
}


.descripcio {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-bottom: 18px;
    text-align: justify;
}

.descripcio h2 {
    margin-bottom: 18px;
}

.menu-cerca {
    padding-bottom: 52px;
    border: 1px solid rgb(0, 0, 0);
    
}

.menu-cerca ul,
.menu-secundari ul {
    list-style-type: none;
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-cerca li,
.menu-secundari li {
    width: 320px;
    height: auto;
    padding: 16px;
    text-align: center;
    padding: 40px 0 40px 0;
}


.menu-cerca a,
.menu-secundari a {
    color: #231F20;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

#cercador {
    margin: 12px auto;
    height: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-secundari {
    margin: 36px auto;
}

.menu-secundari li {
    border: 1px solid rgb(0, 0, 0);
}

.instruccions-cerca {
    margin-top: 36px auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.instruccions-cerca h2 {
    margin-bottom: 18px;
}

footer {
    height: auto;
    padding: 16px;
    border: 4px solid indigo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.logo-URV,
.informacio {
    height: auto;
    border: 4px solid darkslategray;
    background: skyblue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}